<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/company-profile" method="post">
        <input type="text" name="companyName" placeholder="Company Name" class="input" autocomplete="false"><br><br>
        <input type="number" name="contactNumber" placeholder="Contact Number" class="input" autocomplete="false"><br><br>
        <input type="text" name="email" placeholder="Email-Id" class="input" autocomplete="false"><br><br>
        <input type="text" name="gstNo" placeholder="GST No" class="input" autocomplete="false"><br><br>
        <input type="number" name="faxNo" placeholder="Fax No" class="input" autocomplete="false"><br><br>
        <input type="text" name="city" placeholder="City" class="input" autocomplete="false"><br><br>
        <input type="text" name="address" placeholder="Address" class="input" autocomplete="false"><br><br>
        <input type="number" name="cityLatitude" placeholder="City Latitude" class="input" autocomplete="false"><br><br>
        <input type="text" name="cityLongitude" placeholder="City Longitude" class="input" autocomplete="false"><br><br>
        <input type="number" name="deliveryShift" placeholder="Delivery Shift" class="input" autocomplete="false"><br><br>
        <input type="submit" id="submit" class="btn-grad1" value="REGISTER">
      </form>
</body>
</html>