<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/add-customers" method="post">
    <input type="text" name="firstName" placeholder="First Name" class="input" autocomplete="false"><br><br>
    <input type="text" name="lastName" placeholder="Last Name" class="input" autocomplete="false"><br><br>
    <input type="number" name="phone1" placeholder="Phone 1" class="input" autocomplete="false"><br><br>
    <input type="number" name="phone2" placeholder="Phone 2" class="input" autocomplete="false"><br><br>
    <input type="text" name="email" placeholder="Email-Id" class="input" autocomplete="false"><br><br>
    <input type="text" name="address1" placeholder="Address 1" class="input" autocomplete="false"><br><br>
    <input type="text" name="address2" placeholder="Address 2" class="input" autocomplete="false"><br><br>
    <input type="text" name="city" placeholder="City" class="input" autocomplete="false"><br><br>
    <input type="text" name="colonyName" placeholder="Colony Name" class="input" autocomplete="false"><br><br>
    <input type="text" name="shift" placeholder="shift" class="input" autocomplete="false"><br><br>
    <input type="text" name="accountType" placeholder="Account Type" class="input" autocomplete="false"><br><br>
    <input type="text" name="minBalance" placeholder="Min Balance" class="input" autocomplete="false"><br><br>
    <input type="text" name="accBalance" placeholder="Account Balance" class="input" autocomplete="false"><br><br>
    <input type="text" name="cardNumberType" placeholder="Card Number Type" class="input" autocomplete="false"><br><br>
    <input type="submit" id="submit" class="btn-grad1" value="REGISTER">
  </form>
</body>

</html>